extends layout

block content
  <div class = 'header_view' id = "header_view">
    <div class = "header_wrapper">
      
      <div class = 'welcome_message' id = "welcome_message"> 
        <h4 id = "welcome_text" >Welcome to SpendSafe: </h4> 
        <h4  type="text" id ="in_game_username"> </h4>
      </div>
      
      <button class = "log_out_button" id = "log_out_button">Log Out</button>

    </div>
    
    
    
  </div>
  //- <div class="counter_div" id = "table_3">
  <div class ="item_page_view" id = "item_page_view">

    <div class="item_entry_view" id = "item_entry_view">

      <h4 class="add_item_header" align="center" >Add Items: </h4>

      <div class = "item_entry_wrapper"> 
        <input class = "item_input" type="text" align="center" id = "item_name" placeholder="Item Name">
        <input class = "item_input" type="number" align="center" id = "item_price" placeholder="Item Price">
        <input class = "item_input" type="number" align="center" id = "item_imnage" placeholder="Image Upload Placeholder">

        <button class="add_item_button" id = "add_item_button">Add Item</button>

      </div>
    </div>

    <table class = "items_table_view" id = "items_table_view">

    </table>



  </div>

   <div class="reg_view" id = "registration_view">

    <h2 class="sign" align="center" >Sign up as a SpendSafe Merchant!</h2>
    <p class="sign_in" align="center" >Sign up</p>
    
    <form class="form1" onSubmit="return false;">
  <p class="small_l" align="center" >Enter Name:</p>
    <input class="un " type="text" align="center" id = "reg_name" placeholder="Name">

    <p class="small_l" align="center" >Enter Email:</p>
    <input class="un " type="text" align="center" id = "reg_email" placeholder="Email">

    <p class="small_l" align="center" id = "text_0">Enter Password:</p>
    <input class="un " type="password" align="center" id = "reg_pass" placeholder="Password">

    <p class="small_l" align="center" >Confirm Password:</p>
    <input class="un " type="password" align="center" id ="reg_conf_pass" placeholder="Confirm Password">
    
    <p class="small_l" align="center" >Store Name</p>
    <input class="un " type="text" align="center" id = "reg_store" placeholder="Store Name">


    <p class="small_l" align="center" >Store Street Address</p>
    <input class="un " type="text" align="center" id = "reg_street" placeholder="Street">

    <p class="small_l" align="center" >City</p>
    <input class="un " type="text" align="center" id = "reg_city" placeholder="City">
    <p class="small_l" align="center" >State</p>
    <input class="un " type="text" align="center" id = "reg_state" placeholder="State">


    <p class="small_l" align="center" >Zipcode</p>
    <input class="un " type="number" align="center" id = "reg_zip" placeholder="Zipcode">
    
    <a class="submit" align="center" id = "submit_signup_button">submit</a>  

  </div>

  <div class="login_view" id = "login_view">
    <h2 class="sign" align="center" >Welcome to SpendSafe Merchant Portal</h2>
    <p class="sign_in" align="center" id = "text_0">Sign in</p>
    <form class="form1" onSubmit="return false;">
    <input class="un " type="text" align="center" id = "log_email" value="email">
    <input class="un " type="password" align="center" id = "log_pass" value="Password">
    <a class="submit" align="center" id = "login_button">Sign in</a>
    <br>
    <br>
    <br>
    <br>
    <a class="submit" align="center" id = "sup_btn">Sign Up</a>
  </div>
