extends layout

block content
  <div class = 'header_view' id = "header_view">
    <div class = "header_wrapper">
      
      <div class = 'welcome_message' id = "welcome_message"> 
        img(id = 'welcome_logo' src='./img/SpendSafeLogoLarge.png' alt='login')
        <h4 id = "login_header" >Welcome to SpendSafe: </h4> 
        <h4  type="text" id ="in_game_username"> </h4>
      </div>
      
      <button class = "log_out_button" id = "log_out_button">Log Out</button>

    </div>
    
    
    
  </div>
  //- <div class="counter_div" id = "table_3">
  <div class ="item_page_view" id = "item_page_view">

    <div class="item_entry_view" id = "item_entry_view">

      <h4 class="add_item_header" align="center" >Add Items: </h4>

      <div class = "item_entry_wrapper"> 
        <input class = "item_input" type="text" align="center" id = "item_name" placeholder="Item Name">
        <input class = "item_input" type="number" align="center" id = "item_price" placeholder="Item Price">
        <input class = "item_input" type="number" align="center" id = "item_imnage" placeholder="Image Upload Placeholder">

        <button class="add_item_button" id = "add_item_button">Add Item</button>

      </div>
    </div>
    <div class = "item_table_wrapper"> 
      <table class = "items_table_view" id = "items_table_view"></table>

    </div>




  </div>

   <div class="reg_view" id = "registration_view">

    <div class = "login_header">
      img(id = 'login_logo' src='./img/SpendSafeLogoXLarge.png' alt='login')
      <h2 class="login_toast" align="center" >Merchant Portal</h2>

    </div>   
    
    <div id = "signup_input_wrapper">

      <p id="sign_up" align="center" >Sign up</p>
    
      <form class="form1" onSubmit="return false;">
      <input class="signup_input_field" type="text" align="center" id = "reg_name" placeholder="Enter Name">
      <input class="signup_input_field" type="text" align="center" id = "reg_email" placeholder="Enter Email">
      <input class="signup_input_field" type="password" align="center" id = "reg_pass" placeholder="Enter Password">
      <input class="signup_input_field" type="password" align="center" id ="reg_conf_pass" placeholder="Enter Confirm Password">
      <input class="signup_input_field" type="text" align="center" id = "reg_store" placeholder="Enter Store Name">
      <input class="signup_input_field" type="text" align="center" id = "reg_street" placeholder="Enter Street">
      <input class="signup_input_field" type="text" align="center" id = "reg_city" placeholder="Enter City">
      <input class="signup_input_field" type="text" align="center" id = "reg_state" placeholder="Enter State">
      <input class="signup_input_field" type="number" align="center" id = "reg_zip" placeholder="Enter Zipcode">
    
    </div>

    <div id = signup_button_wrapper>
      <button class="signup_submit_button" align="center" id = "submit_signup_button">Submit</button>  
    </div>
  </div>

  <div class="login_view" id = "login_view">

    <div class = "login_header">
      img(id = 'login_logo' src='./img/SpendSafeLogoXLarge.png' alt='login')
      <h2 class="login_toast" align="center" >Merchant Portal</h2>

    </div>
    <div id = login_input_wrapper>

      <p class="sign_in" align="center" id = "text_0">Sign in</p>
      <form class="form1" onSubmit="return false;">
      <input class="login_input_field" type="text" align="center" id = "log_email" placeholder="Enter Email">
      <input class="login_input_field" type="password" align="center" id = "log_pass" placeholder="Enter Password">
    </div>

    <div id = login_button_wrapper>
      <button class="login_submit_button" align="center" id = "login_button">Sign in</button>
      <button class="login_submit_button" align="center" id = "sup_btn">Sign Up</button>
    </div>


  </div>
